/******FONTS******/
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Proxnova-Bold";
  src: url("../fonts/Proxima/ProximaNova-Bold.otf");
}

@font-face {
  font-family: "Proxnova-Reg";
  src: url("../fonts/Proxima/ProximaNova-Reg.otf");
}

@font-face {
  font-family: "Proxnova-Light";
  src: url("../fonts/Proxima/ProximaNova-Light.otf");
}

/******BASE******/
html,
body {
  height: 100%;
  font-family: Roboto;
}

.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

/******HEADER******/
.pageHeader {
  background: #f7c61d;
  padding: 1.5em 0;
}

.pageHeader .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pageHeader li {
  display: inline-block;
}

.pageHeader a {
  font-family: Proxnova-Reg;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 1em;
  transition: color .3s;
}

.pageHeader a:hover {
  color: #fff;
}

.left {
  margin-right: 1em;
}

.right {
  margin-left: 1em;
}

/******MAIN******/
.main {
  padding: 3em 0 5em 0;
}

.main .container {
  display: flex;
}

main {
  width: 77%;
}

aside {
  width: 23%;
}

h2 {
  font-family: Proxnova-Bold;
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

article {
  display: flex;
}

article:not(:last-child) {
  margin-bottom: 2.5em;
}

.article-left {
  width: 30%;
}

.article-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2em;
}

.article-img {
  width: 100%;
  border-radius: 3px;
}

article h3 {
  font-family: Proxnova-Light;
  font-size: 1.875rem;
}

.meta {
  font-family: Roboto-Light;
  color: #999;
  font-size: 0.8125rem;
}

.meta span:not(:last-child)::after {
  content: "|";
  padding: 0 .5em;
}

.category {
  color: #e3b002;
}

.description {
  color: #555;
  line-height: 1.25;
}

.additional {
  font-family: Roboto-Light;
  color: #999;
  font-size: 0.8125rem;
}

.additional span:not(:last-child)::after {
  content: "|";
  padding: 0 .5em;
}

.views::before {
  content: "\f06e";
  font-family: "Font Awesome 5 Free";
  padding-right: .25em;
}

.comments::before {
  content: "\f075";
  color: #999;
  font-family: "Font Awesome 5 Free";
  padding-right: .25em;
}

.comments {
  color: #e3b002;
}

.moreArticles {
  background: #fff;
  border: 1px solid #f7c61d;
  padding: 1em 2em;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .75rem;
  transition: .3s;
}

.moreArticles:hover {
  background: #f7c61d;
  border: 1px solid #f7c61d;
  color: #fff;
}

/******ASIDE******/
.rightSidebar {
  padding-left: 3em;
  padding-top: 3.5em;
}

.searchBox {
  position: relative;
}

.searchBox input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: .5em 0;
  outline: none;
  font-size: 0.875rem;
}

.searchBox input::placeholder {
  padding-left: 2.25em;
}

.searchBox label {
  position: absolute;
  left: 10px;
  top: 9px;
}

.searchBox:hover {
  color: #f7c61d;
}

.calendar {
  width: 100%;
  margin-top: 2em;
}

.calendar-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  border: 1px solid #e5e5e5;
}

.calendar-prev,
.calendar-next {
  color: #e5e5e5;
}

.calendar table {
  width: 100%;
}

.calendar table th {
  height: 35px;
  background: #e7e7e7;
  color: #888;
  text-align: center;
  vertical-align: middle;
}

.calendar table td {
  height: 35px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  color: #4d4d4d;
}

.calendar .notCurrentMonth {
  color: #e5e5e5;
}

.calendar .currentDay {
  background: #f7c61d;
  color: #fff;
}

/******FOOTER******/


.pageFooter {
  background: #f7c61d;
  padding: 1.5em 0;
}

.pageFooter .container {
  display: flex;
  align-items: center;
}

.copy {
  font-family: Proxnova-Light;
  color: #a78613;
  flex-grow: 1;
}

.footer-nav {
  flex-grow: .35;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav a {
  text-decoration: none;
  color: #000;
  padding: .5em 1.125em;
  transition: color .3s;
}

.footer-nav a:hover {
  color: #fff;
}

.social {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  color: #f7c61d;
  margin-right: .5em;
  font-size: 25px;
  position: relative;
  top: 0;
  transition: .3s;
}

.fb:hover {
  top: -3px;
  color: #3C5A99;
  background: #fff;
}

.tw:hover {
  top: -3px;
  color: #26a7de;
  background: #fff;
}

.ig:hover {
  top: -3px;
  color: #5851DB;
  background: #fff;
}

/******MEDIA QUERIES******/
@media(max-width:1000px) {
  .pageHeader {
    padding: 2em 0;
  }

  .pageHeader .container {
    flex-direction: column;
  }

  .pageHeader a {
    padding: .35em;
  }

  .logo {
    order: 0;
    margin-bottom: 1.5em;
  }

  .left {
    order: 1;
    margin: 0 2em 1em 2em;
  }

  .right {
    order: 2;
    margin: 0 2em 0 2em;
  }

  .pageFooter .container {
    flex-direction: column;
  }

  .footer-nav {
    margin: 1.5em 0;
  }
}

@media(max-width:600px) {
  .pageHeader {
    padding: 2em 0 1em 0;
  }

  .logo {
    order: 0;
    margin-bottom: 1.5em;
  }

  .left,
  .right {
    margin: 0;
  }

  .left li {
    display: block;
    text-align: center;
    margin-bottom: 1.25em;
  }

  .right li {
    display: block;
    text-align: center;
    margin-bottom: 1.25em;
  }

  .pageHeader a {
    padding: .35em 5em;
  }

  .footer-nav li {
    display: block;
    text-align: center;
    padding: 1em 0;
  }
}